In [1]:
import numpy as np 
import pandas as pd
import datetime

Reading Data

In [20]:
events = pd.read_csv('../data/events.csv')
# events = events[events.duplicated(keep=False)==False]

In [16]:
events.columns

Index(['timestamp', 'visitorid', 'event', 'itemid', 'transactionid'], dtype='object')

In [17]:
# events.duplicated(subset=['timestamp', 'visitorid','itemid'], keep = 'first')==True
print(events.shape)
events = events.drop_duplicates
print(events.shape)

(2756101, 5)
(2755630, 5)

In [21]:
# events[events.duplicated(subset=['timestamp', 'visitorid','itemid'], keep='first')==False]
events[events['visitorid']==257597]

            timestamp  visitorid event  itemid  transactionid
0       1433221332117     257597  view  355908            NaN
152610  1433800821247     257597  view  302696            NaN